.container {
  width: 100%;
  height: 100vh;
  padding: 50px;
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.background__section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

.cover__image {
  background-image: url("../../public/images/backgrounds/workspace.jpg");
  background-attachment: fixed;
}

.cover__title {
  position: absolute;
  top: 0;
  background-image: repeating-linear-gradient(18deg,  rgba(0,0,0,.8), transparent,rgba(0,0,0,.8) 0.5px);
  color: var(--light);
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.first__name {
  color: var(--main);
}

.header__arrow__down {
  position: absolute;
  bottom: 40px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  
}

.section__portfolio__bg__img {
  position: relative;
  background-image: url("../../public/images/backgrounds/portfolio-bg.png");
  background-attachment: fixed;
  padding: 0;
}

.section__portfolio__bg__gradient  {
  position: relative;
  font-weight: normal;
  background-image: linear-gradient(to left, rgba(0, 0, 0, .95) 35%, transparent);
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.projects__list {
  position: absolute;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
  border-right: var(--contrast) solid 3px;
}

.project__name {
  padding: 10px; 
  transition: .5s;
  cursor: pointer;
}

.project__name:hover {
  background-color: var(--contrast);
  color: black;
  font-weight: bold;
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15vh;
}

.wave__main__color__descending {
  background-image: url("../../public/images/backgrounds/wave-main-color.svg");
  bottom: 0;
}

.section__about__me {
  position: relative;
  background-color: var(--main);
  line-height: 30px;
  display: flex;
  align-items: center;
}

.about__me__text {
  width: 60%;
  text-align:start;
}

.about__me__title {
  font-size: 50px;
  font-weight:normal;
  margin-bottom: 30px;
}

.about__me__text p, .techs__text p {
  letter-spacing: 2px;
}

.profile__pic__wrapper {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__pic {
  width: 300px;
  height: 300px;
  border: var(--light) 3px solid;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__pic img {
  width:100%;
  height: 100%;
  border-radius: 50%;
}

.wave__main__ascending {
  background-image: url("../../public/images/backgrounds/wave-main-color-ascending.svg");
  top: 0;
}

.section__techs {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--main);
}

.techs__text {
  text-align: right;
  width: 50%;
  line-height: 30px;
}

.techs__title {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 20px;
}

.techs__text p {
  margin-bottom: 20px;
}

.techs__list {  
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
}

.techs__list li {
  width:fit-content;
  height: auto;
  padding: 5px 10px;
  border: var(--main) solid;
  background-color:white;
}

.section__networks {
  background-color: var(--darkest);
  height: 50vh;
}
 

@media (max-width:768px) {
  .cover {
    height:50vh;
  }

  .cover__title {
    background-image: none;
  }

  .header__arrow__down {
    display: none;
  }
}

@media (max-width:500px) {
  .cover__title {
    font-size: 20px;
    background-image: none;
  }
}