.container {
  width: 100%;
  height: 100vh;
  padding: 50px;
}

.title {
  font-size: 50px;
  font-weight:normal;
  margin-bottom: 30px;
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.background__section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

.cover__image {
  background-image: url("../../public/images/backgrounds/workspace.jpg");
  background-attachment: fixed;
}

.cover__title {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-image: repeating-linear-gradient(18deg,  rgba(0,0,0,.8), transparent,rgba(0,0,0,.8) 0.5px);
  color: var(--light);
  font-size: 35px;  
  display: flex;
  flex-direction: column;
}

.first__name {
  color: var(--main);
}

.career {  
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px var(--main) solid;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;   
  column-gap: 10px;
}

.speciality {
  font-weight: bold;
  color: var(--main);
}

.arrow__wrapper {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__arrow__down {
  width: 60px;
  height: 70px;
}

.section__portfolio__bg__img {
  position: relative;
  background-image: url("../../public/images/backgrounds/portfolio-bg.png");
  background-attachment: fixed;
  padding: 0;
}

.section__portfolio__bg__gradient  {
  position: relative;
  font-weight: normal;
  background-image: linear-gradient(to left, rgba(0, 0, 0, .95) 35%, transparent);
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.projects__list {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
  border-right: var(--contrast) solid 3px;
}

.project__name {
  padding: 10px; 
  transition: .5s;
  cursor: pointer;
}

.project__name:hover {
  background-color: var(--contrast);
  color: black;
  font-weight: bold;
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15vh;
}

.wave__main__color__descending {
  background-image: url("../../public/images/backgrounds/wave-main-color.svg");
  bottom: 0;
}

.section__about__me {
  position: relative;
  background-color: var(--main);
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about__me__text {
  width: 60%;
  text-align:start;
}


.about__me__text p, .techs__text p, .section__networks p{
  letter-spacing: 2px;
}

.profile__pic__wrapper {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__pic {
  width: 300px;
  height: 300px;
  border: var(--light) 3px solid;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__pic img {
  width:100%;
  height: 100%;
  border-radius: 50%;
}

.wave__main__ascending {
  background-image: url("../../public/images/backgrounds/wave-main-color-ascending.svg");
  top: 0;
}

.section__techs {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--main);
}

.techs__text {
  text-align: right;
  width: 50%;
  line-height: 30px;
}

.techs__text p {
  margin-bottom: 20px;
}

.techs__list {  
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
}

.techs__list li {
  width:fit-content;
  height: auto;
  padding: 5px 10px;
  border: var(--main) solid;
  background-color:white;
}

.section__networks {
  height: 50vh; 
  display: flex;
  flex-direction: column;
  background-color: var(--darkest);  
}

.section__networks .title {
  margin-bottom: 20px;
}

.footer__logos__wrapper {
  width:35%;
  height: 75px;
  display: flex;
  column-gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.footer__logo {
  width: 15%;
  cursor: pointer;
  transition: .3s;
}

.footer__logo:hover {
  width: 20%;
}

.contact {
  text-align: right;
}

@media (max-width:1060px) {
  .profile__pic {
    width: 200px;
    height: 200px;
  }
}

@media (max-width:1030px) {
  .techs__text {
    width: 100%;
  }  
}

@media (max-width:800px) {
  .section__about__me {
    flex-wrap: wrap-reverse;
    justify-content: center;
    height: auto;
    row-gap: 50px;
  }

  .about__me__text {
    width: 100%;
    text-align: justify;
  }

  .about__me__text .title {
    text-align: center;
  }

  .profile__pic__wrapper {
    width: auto;
    height: auto;
  }

  .profile__pic {
    width: 200px;
    height: 200px;
  }

  .footer__logos__wrapper {
    width: 50%;
  }
}

@media (max-width:768px) {
  .cover__title {
    background-image: none;
  }
}

@media (max-width:600px) {
  .container {
    padding: 25px;
  }

  .cover__title {
    font-size: 30px;
  }

  .section__portfolio__bg__gradient {
    font-size: 20px;
  }

  .title {
    font-size: 40px;
  }

  .section__techs {
    align-items: flex-end;
  }

  .footer__logos__wrapper {
    width: 70%;
  }

}

@media (max-width:500px) {
  .cover__title {
    font-size: 25px;
    background-image: none;
  }

  .career {
    font-size: 20px;
  }

  .profile__pic {
    width: 150px;
    height: 150px;
  }
}

@media (max-width:485px) {
  .cover__title {
    font-size: 20px;
  }

  .career {
    font-size: 18px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .section__portfolio__bg__gradient {
    font-size: 15px;
  }

  .techs__text {
    text-align: center;
  }

  .techs__list {
    justify-content: center;
  }

  .techs__list li {
    padding: 0px 5px;
  }
}

@media (max-width:350px) {
  .techs__text p {
    line-height: 20px;
  }
}

@media (max-width:300px) {
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .cover__title {
    font-size: 16px;
  }

  .career {
    font-size: 14px;
  }

  .techs__list li {
    padding: 0px 5px;
    border: 1px solid var(--main);
  }
}


