
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
}

.header nav {
  position: absolute;
  top: 50px;
  left: 50px;  
}

.back__home {
  padding: 5px;
  border-bottom: var(--light) solid;
  transition: .5s;
  cursor: pointer;
}

.back__home:hover {
  border-bottom: var(--main) solid;
  background-color: var(--light);
  color: var(--main);
}

.project__info {
  width: 100%;
  height: 100%;
  padding: 50px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0,.8);
  font-weight: normal;
}

.project__name {
  text-transform:uppercase;
  font-weight: normal;
  font-size: 4vw;
}

.features__list {
  list-style-type: disc;
  text-align: justify;
}

.live {
  padding: 10px;
  text-decoration: none;
  color: var(--light);
  border: var(--light) solid;
  transition: .5s;
}

.live:visited{
  color: var(--light);
}

.live:hover {
  border: var(--main) solid;
  background-color: var(--light);
  color: var(--main);
}

.go__next__section {
  width: 60px;
  height: 70px;
  background-image: url("../../../public/images/logos/arrow-down.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.screenshots {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
}

.shotlist {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content:center;
}

.demo {
  width: auto;
}

.shot {
  width: 300px;
  height: auto;
  display: flex;
}

.shot img{
  width: 100%;
  object-fit:cover;
}

.screenshots img {
  border: solid black 1px;
}

.footer{
  width: 100%;
  padding: 20px;
  background-color: var(--darkest);
  text-align: center;
}

@media (max-width:800px) {
  .project__info {
    padding: 50px 10%;
  }

  .back__home {
    padding: 2px;
    border-bottom: solid 1px;
    font-size: 14px;
  }

  .screenshots {
    padding: 25px;
  }

  .demo {
    width: 100%;
  }
}

@media (max-width:450px) {
  .header {
    padding: 30px 20px;
  }

  .header {
    padding: 10px;
  }

  .header nav {
    top: 20px;
    left:20px;
  }
}

@media (max-width:300px) {
  .shot {
    width:100%;
  }
}